* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: "TikTok Sans", sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: black;

}

header a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 23px;
}

.logo-container {
    text-align: center;
}

.logo {
    background-color: blue;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    border: 4px solid blue;

}


.tag.boolean {
    margin-top: 10px;
    font-family: "TikTok Sans", sans-serif;
    font-weight: bold;
    font-size: 14px;
}



.stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 110px;
    font-family: "TikTok Sans", sans-serif;
    font-weight: bold;
    color: black;
    font-size: 14px;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 1px;
    text-align: center;

}




button.follow {
    border: 1px solid red;
    background-color: red;
    color: white;
    font-family: "TikTok Sans", sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    width: 150px;
    height: 44px;
    text-align: center;

}


button.Instagram {
    border: 1px solid black;
    background-color: #fff;
    color: black;
    font-family: "TikTok Sans", sans-serif;
    font-weight: bold;
    font-size: 14px;
    width: 44px;
    height: 44px;

}

button.three-dots {
    border: 1px solid black;
    background-color: #fff;
    color: black;
    font-family: "TikTok Sans", sans-serif;
    font-weight: bold;
    font-size: 14px;
    width: 44px;
    height: 44px;

}

.didascalie {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 118px;
    padding-right: 124px;
    font-family: "TikTok Sans", sans-serif;
    color: black;
    font-size: 10px;
    list-style: none;

}

.description {
    font-family: "TikTok Sans";
    color: black;
    font-size: 14px;
    text-align: center;
    padding-top: 30px;

}


.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    max-width: 100%;
    max-height: 100%;
    margin-top: 200px;
}


.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}